/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    /* font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; */
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #ff733c;
    padding: 15px;
    text-align: left;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 24px;
    padding-left: 20px;
}
.container {
    display: flex;
    height: 100vh;
    padding: 20px;

}

.sidebar {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.sidebar ul li.active a {
    background-color: #ff733c;
    color: white;
}

.sidebar ul li a:hover {
    background-color: #ffe0d1;
}


.logo {
    font-size: 1.5em;
    color: #F47C48;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
}

.menu li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* ul li.active {
    border-left: 4px solid #F47C48;
    background-color: #ff733c;
    color: white;

} */

li i.icon {
    font-size: 1.2em;
    margin-right: 10px;
}

.menu li:hover {
    background-color: #f0f0f0;
}

/* Form Container Styles */
.form-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    flex-grow: 1;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-header h2 {
    font-size: 1.5em;
    color: #333;
}

.add-info {
    font-size: 0.9em;
    color: #F47C48;
    text-decoration: none;
}
.add-info:hover {
    text-decoration: underline;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

input[type="text"],input[type="number"]::placeholder {
    color: #aaa;
}

.form-footer {
    text-align: right;
}

.next-session-btn {
    padding: 10px 20px;
    background-color: #F47C48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
a{
    text-decoration: none;
}
.next-session-btn:hover {
    background-color: #e66b2e;
}